node_modules
package-lock.json
yarn.lock

.DS_Store
.cache
.env
.vercel
.output
.vinxi
.eslintcache

.next

.nitro/
.tanstack/
/build/
/api/
/server/build
/public/build
translations/
.vinxi
# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.env.local
tsconfig.tsbuildinfo
